#quote-page {
  
  text-align: center;
  font-size: 18px;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 5s;
}

@media (max-width: 350px) {
  #quote-page {
    font-size: 15px;
  }
}
#quote-box {
  margin: 3px;
  padding: 5px;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  transition: 3s;
}
#quote-box h2 {
  font-family: 'Grandstander', cursive;
  transition: 5s;
  margin-bottom: 0%;
}
#quote-box h3 {
  font-family: 'Grandstander', cursive;
  transition: 5s;
}

#button-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#button-box button {
  font-family: 'Grandstander', cursive;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  transition: 5s;
}
#button-box button:focus {
  border: none;
}
#button-box a {
  transition: 5s;
  text-decoration: none;
}